---
layout: home
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="row justify-content-md-center">
  <div class="body-col col-lg-1">
    <div class="post-meta text-end text-md-start">
      <h4><a href="{{ post.url }}">#</a></h4>
    </div>
  </div>
  <article class="body-col col-md-6">
    {{ post.content }}
    <hr>
  </article>
  <div class="body-col col-1">
    <h3 class="post-meta text-md-start d-none d-lg-block">
      <time datetime="{{ post.date }}">{{ post.date | date: site.theme_config.date_format }}</time>
    </h3>
  </div>
</div>

{% endfor %}

<!-- Pagination links -->
<div class="row justify-content-md-center pagination">
  <div class="body-col col-md-8 text-center">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number "> (Page: {{ paginator.page }} of {{ paginator.total_pages }}) </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next">Next</span>
    {% endif %}
  </div>
</div>