---
layout: default
---
<header class="row justify-content-md-center">
  <div class="col-md-6">
    <a href="{{ "/" | relative_url }}" title="{{ site.theme_config.back_home_text }}">
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} Logo" style="max-height: 15vh;" class="py-3">
    </a>
  </div>
</header>
{%-include back_link.html-%}

<div class="row justify-content-md-center">
  <div class="col-1"></div>
  <article class="body-col col-md-6 py-3">
    {{ content }}
  </article>
  <div class="col-lg-1">
    <h3 class="post-meta text-end text-md-start">
      <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
    </h3>
  </div>
</div>